<footer class="footer">
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <%= audio_tag("", controls: true, id: "main_player") %>
    </div>
  </nav>
</footer>
