// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* mixings, variables, etc */
$offblack: #191919;
$nicegray: rgb(167, 167, 167);

/* global rules */

body {
  background-color: $offblack;
  padding: 60px 15px;
}

#main_player { 
  width: 100%;
  background-color: lightblue;
}

.list-group-item-dark.list-group-item-action {
  background-color: #dadada;
  &.active {
    background-color: #77a1cf;
    color: #1b1e21;
    border: 0px;
  }
}

/* typography */

h1, h2, h3, h4, h5 {
  color: darkgray;
}

h6 {
  color: black;
}

/* forms */

label, input {
  color: $nicegray;  
  margin-top: 5px;
}
